<h1>Name: <%=@kitty.name%></h1>

<table>
    <thead>
        <tr>
            <th colspan="">Da Cat Info</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name: <%=@kitty.name%></td>
            <td>Color: <%=@kitty.color%></td>
            <td>Sex: <%=@kitty.sex%></td>
            <td>Description: <%=@kitty.description%></td>
            <td>Birth Date: <%=@kitty.birth_date%></td>
        </tr>
    </tbody>
</table>